nav {
  box-shadow: 2px -2px 0 5px rgba(0, 0, 255, 0.673);
}
.nav-item:hover {
  border-bottom: 2px solid black;
  transition: all .4s;
  padding-top: 4rem;
}
.nav-item {
  transition: all .4s;
}
.home {
  background-image: linear-gradient(to right bottom, blue, rgba(110, 187, 110, 0.952));
  height: 715px;
}
#btn1 {
  padding-right: 95px;
  padding-left: 95px;
}
.card-img-top {
  max-height: 300px;
  min-height: 300px;
}
.img1 {
  transform: translateY(-200px);
}
.btn-show {
  background-image: linear-gradient(to right bottom, blue, rgba(110, 187, 110, 0.952));
  color: white;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card:hover {
  transition: all .4s;
  box-shadow: 2px 1px 2px 0px rgba(0, 0, 0, 0.473);
}
.footer {
  height: 400px;
  width: 100%;
  background-color: #222;
}