nav {
  box-shadow: 2px -2px 0 5px rgba(0, 0, 255, 0.673);
}
.nav-item:hover {
  border-bottom: 2px solid black;
  transition: all .4s;
  padding-top: 5rem;
}
.nav-item {
  transition: all .4s;
}
.home {
  background-image: linear-gradient(to right bottom, blue, rgba(110, 187, 110, 0.952));
  height: 715px;
}
#btn1 {
  padding-right: 95px;
  padding-left: 95px;
}